<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thế Giới Sticker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta name="author" content="Netbase">
    @if (IsSectionDefined("HeadMeta"))
    {
        @RenderSection("HeadMeta")
    }
    else
    {
        <title>In nhanh siêu việt</title>
        <meta name="description" content="In Nhanh Siêu Việt - Chuyên in ấn và gia công tem nhãn, decal, túi giấy, hộp giấy và các ấn phẩm văn phòng, ấn phẩm quảng cáo tại Tp HCM.">
        <meta name="keywords" content="In Nhanh Siêu Việt - Chuyên in ấn và gia công tem nhãn, decal, túi giấy, hộp giấy và các ấn phẩm văn phòng, ấn phẩm quảng cáo tại Tp HCM.">
    }
    <!--Add css lib-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="~/Scripts/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" />

    <link href="~/Content/fonts/fonts.css" rel="stylesheet" />
    <link href="~/Content/fonts/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/fonts/fonts-google.css" rel="stylesheet" />
    <link href="~/Content/vendor-css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendor-css/animsition/dist/css/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/vendor-css/animate.css/source/slide_fwd_center/slide_fwd_center.css" rel="stylesheet" />
    <link href="~/Content/vendor-css/range_filter/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/main_styles.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/login-register.css" rel="stylesheet" />
    <link href="~/Content/css/angular-ui-notification.min.css" rel="stylesheet" />

    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/slick-1.8.0/slick.css" rel="stylesheet" />
    <link href="~/Content/formValidation.min.css" rel="stylesheet" />
    <link rel="icon" href="~/images/favicon.png">
</head>
<body ng-app="thegioistickerApp" ng-controller="RootController">
    <div class="super_container">
        <!-- Header -->
        <header class="header">
            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/images/phone.png" alt=""></div>(028) 38 122 191</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/images/mail.png" alt=""></div><a href="mailto:admin.thegioiinan.today">admin.thegioiinan.today</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_user">
                                    <div data-ng-hide="!authentication.isAuth"><a href="/user">Xin chào: {{authentication.fullName}}.</a></div>
                                    <div data-ng-hide="authentication.isAuth"><a data-toggle="modal" href="javascript:void(0)" data-ng-click="openLoginModal()">Đăng Nhập/Đăng Ký</a></div>
                                    <div style="margin-left:20px;margin-right:20px" data-ng-hide="!authentication.isAuth"><a href="javascript:void(0)" data-ng-click="logOut()">Đăng Xuất</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo">
                                    <a href="/">
                                        <img style="min-width:150px;max-width:150px" src="~/images/logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Tìm sản phẩm...">
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="/images/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                @*<div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                        <div class="wishlist_icon"><img src="images/heart.png" alt=""></div>
                                        <div class="wishlist_content">
                                            <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                            <div class="wishlist_count">115</div>
                                        </div>
                                    </div>*@
                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="/images/cart.png" alt="">
                                            <div class="cart_count"><span>{{dataCount}}</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a href="/gio-hang">Giỏ hàng</a></div>
                                            <div class="cart_price">{{subTotal1 | number}} VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Navigation -->
            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="main_nav_content d-flex flex-row">
                                <div class="main_nav_menu mr-auto">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li><i style="cursor:pointer" onclick="window.location.href='/'" class="fas fa-2x fa-home"></i></li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/san-pham-tem" class="ng-binding" href="/san-pham-tem">CÁC SẢN PHẨM TEM<i class="fas fa-chevron-down ng-scope"></i></a>
                                            <ul class="ng-scope">
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-giay" class="ng-binding" href="/chi-tiet-san-pham/decal-giay">Tem nhãn decal giấy<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-draft" class="ng-binding" href="/chi-tiet-san-pham/decal-draft">Tem nhãn decal giấy kraft<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-nhua-sua" class="ng-binding" href="/chi-tiet-san-pham/decal-nhua-sua">Tem nhãn decal nhựa sữa<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-nhua-cao-cap" class="ng-binding" href="/chi-tiet-san-pham/decal-nhua-cao-cap">Tem nhãn decal nhựa sữa cao cấp<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-nhua-trong" class="ng-binding" href="/chi-tiet-san-pham/decal-nhua-trong">Tem nhãn decal nhựa trong<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-xi-bac" class="ng-binding" href="/chi-tiet-san-pham/decal-xi-bac">Tem nhãn decal xi bạc<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-xi-vang" class="ng-binding" href="/chi-tiet-san-pham/decal-xi-vang">Tem nhãn decal xi vàng<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-bay-mau" class="ng-binding" href="/chi-tiet-san-pham/decal-bay-mau">Tem nhãn decal bảy màu<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/tem-bao-hanh" class="ng-binding" href="/chi-tiet-san-pham/tem-bao-hanh">Tem bảo hành-tem bể-tem vỡ<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-metalize" class="ng-binding" href="/chi-tiet-san-pham/decal-metalize">Decal metalize<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/decal-mau-den" class="ng-binding" href="/chi-tiet-san-pham/decal-mau-den">Tem nhãn decal 1 màu đen<i class="fas fa-chevron-down"></i></a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/thu-vien-decal" class="ng-binding" href="/thu-vien-decal">THƯ VIỆN ONLINE</a>
                                        </li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/san-pham" class="ng-binding" href="/san-pham">CÁC SẢN PHẨM KHÁC<i class="fas fa-chevron-down ng-scope"></i></a>
                                            <ul class="ng-scope">
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/tui-giay" class="ng-binding" href="/chi-tiet-san-pham/tui-giay">Túi giấy<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li class="ng-scope">
                                                    <a ng-href="/chi-tiet-san-pham/in-pp" class="ng-binding" href="/chi-tiet-san-pham/in-pp">In pp<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/cong-ty/khuyen-mai" class="ng-binding" href="/cong-ty/khuyen-mai">KHUYẾN MÃI</a>
                                        </li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/thong-tin" class="ng-binding" href="/thong-tin">THÔNG TIN</a>
                                        </li>
                                        <li class="hassubs ng-scope">
                                            <a ng-href="/lien-he" class="ng-binding" href="/lien-he">LIÊN HỆ</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Menu Trigger -->

                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Menu -->

            <div style="margin-top:unset !important" class="page_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="page_menu_content">

                                <div class="page_menu_search">
                                    <form action="#">
                                        <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                                    </form>
                                </div>
                                <ul class="page_menu_nav">
                                    <li class="page_menu_item has-children">
                                        <a href="/san-pham-tem">CÁC SẢN PHẨM TEM<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="/chi-tiet-san-pham/decal-giay">Tem nhãn decal giấy<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-draft">Tem nhãn decal giấy kraft<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-nhua-sua">Tem nhãn decal nhựa sữa<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-nhua-cao-cap">Tem nhãn decal nhựa sữa cao cấp<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-nhua-trong">Tem nhãn decal nhựa trong<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-xi-bac">Tem nhãn decal xi bạc<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-xi-vang">Tem nhãn decal xi vàng<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-bay-mau">Tem nhãn decal bảy màu<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/tem-bao-hanh">Tem bảo hành-tem bể-tem vỡ<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-metalize">Decal metalize<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/decal-mau-den">Tem nhãn decal 1 màu đen<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item">
                                        <a href="/thu-vien-decal">THƯ VIỆN ONLINE<i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="/san-pham">CÁC SẢN PHẨM KHÁC<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="/chi-tiet-san-pham/tui-giay">Túi giấy<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="/chi-tiet-san-pham/in-pp">In pp<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item">
                                        <a href="/cong-ty/khuyen-mai">KHUYẾN MÃI<i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="page_menu_item"><a href="/thong-tin">THÔNG TIN<i class="fa fa-angle-down"></i></a></li>
                                    <li class="page_menu_item"><a href="/lien-he">LIÊN HỆ<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Banner -->
        @*<div class="container">
                <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
                <div class="container fill_height">
                    <div class="row fill_height">
                        <div class="col-lg-5 offset-lg-4 fill_height">
                            <div class="banner_content">
                                <h1 class="banner_text"></h1>
                                <div class="banner_price"><span></span></div>
                                <div class="banner_product_name"></div>
                                <div class="button banner_button"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @RenderBody()
        <!-- Newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                            <div class="newsletter_title_container">
                                <div class="newsletter_icon"><img src="/images/send.png" alt=""></div>
                                <div class="newsletter_title">Đăng ký để nhận tin từ chúng tôi</div>
                                <div class="newsletter_text"><p>...để nhận mã giảm giá 20% cho đơn hàng đầu tiên.</p></div>
                            </div>
                            <div class="newsletter_content clearfix">
                                <form action="#" class="newsletter_form">
                                    <input type="email" class="newsletter_input" required="required" placeholder="Nhập email của bạn">
                                    <button class="newsletter_button">Đăng ký</button>
                                </form>
                                <div class="newsletter_unsubscribe_link"><a href="#">Hủy đăng ký</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <a href="/">THẾ GIỚI STICKER</a>
                                @*<div class="logo"><a href="/">THẾ GIỚI STICKER</a></div>*@
                            </div>
                            @*<div class="footer_title">TƯ VẤN</div>*@
                            <div class="footer_phone">(028)38 122 191</div>
                            <div class="footer_contact_text">
                                <p>118/15 Bàu Cát 2</p>
                                <p>P.12, Q.Tân Bình, Tp.HCM</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">THÔNG TIN </div>
                            <ul class="footer_list">
                                <li><a href="/cong-ty/gioi-thieu" target="_self">Giới thiệu</a></li>
                                <li><a href="/cong-ty/tuyen-dung" target="_self">Tuyển dụng</a></li>
                                <li><a href="/cong-ty/hop-tac-ban-hang" target="_self">Hợp tác bán hàng</a></li>
                                <li><a href="/cong-ty/dieu-khoan-su-dung" target="_self">Điều khoản sử dụng</a></li>
                                <li><a href="/cong-ty/chinh-sach-phan-phoi" target="_self">Chính sách bán hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">CHÍNH SÁCH</div>
                            <ul class="footer_list">
                                <li><a href="/cong-ty/chinh-sach-doi-tra-va-hoan-tien" target="_self">Chính sách đổi trả</a></li>
                                <li><a href="/cong-ty/chinh-sach-mua-ho" target="_self">Chính sách mua hộ</a></li>
                                <li><a href="/cong-ty/chinh-sach-bao-mat" target="_self">Chính sách bảo mật</a></li>
                                <li><a href="/cong-ty/chinh-sach-khieu-nai" target="_self">Chính sách khiếu nại</a></li>
                                <li><a href="/cong-ty/chinh-sach-bao-hanh" target="_self">Chính sách bảo hành</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">HƯỚNG DẪN </div>
                            <ul class="footer_list">
                                <li><a href="/lien-he">Gửi yêu cầu hỗ trợ</a></li>
                                <li><a href="/cong-ty/cau-hoi-thuong-gap" target="_self">Câu hỏi thường gặp</a></li>
                                <li><a href="/cong-ty/huong-dan-mua-hang" target="_self">Hướng dẫn mua hàng</a></li>
                                <li><a href="/cong-ty/chinh-sach-giao-hang" target="_self">Chính sách giao hàng</a></li>
                                <li><a href="/cong-ty/huong-dan-thanh-toan" target="_self">Hướng dẫn thanh toán</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Thegioisticker.com
                            </div>
                            <div class="logos ml-sm-auto">
                                <ul class="logos_list">
                                    <li><a href="#"><img src="/images/logos_1.png" alt=""></a></li>
                                    <li><a href="#"><img src="/images/logos_2.png" alt=""></a></li>
                                    <li><a href="#"><img src="/images/logos_3.png" alt=""></a></li>
                                    <li><a href="#"><img src="/images/logos_4.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-app="thegioistickerApp" ng-controller="loginController" class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        <h4 class="modal-title">Đăng Nhập</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="content">
                                <div class="social">
                                    <a id="facebook_login" class="circle facebook" href="javascript:void(0)" data-ng-click="authExternalProvider('Facebook')">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>Hay</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <input data-ng-model="loginData.userName" class="form-control" type="text" placeholder="Tên đăng nhập" name="username">
                                    <input data-ng-model="loginData.password" class="form-control" type="password" placeholder="Mật khẩu" name="password">
                                    <input class="btn btn-default btn-login" value="Đăng Nhập" type="submit" data-ng-click="login()">
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                                <div class="form">
                                    <input data-ng-hide="isCreateExtenal" data-ng-model="registration.fullName" class="form-control" type="text" placeholder="Họ và tên" name="fullName">
                                    <input data-ng-hide="isCreateExtenal" data-ng-model="registration.userName" class="form-control" type="text" placeholder="Tên đăng nhập" name="username">
                                    <input data-ng-hide="isCreateExtenal" data-ng-model="registration.password" class="form-control" type="password" placeholder="Mật khẩu" name="password">
                                    <input data-ng-hide="isCreateExtenal" data-ng-model="registration.confirmPassword" class="form-control" type="password" placeholder="Nhắc lại mật khẩu" name="password_confirmation">
                                    <input data-ng-hide="isCreateExtenal" class="btn btn-default btn-register" type="submit" value="Tạo Tài Khoản" name="commit" data-ng-click="signUp()">
                                    <input data-ng-hide="!isCreateExtenal" data-ng-model="registerData.fullName" class="form-control" type="text" placeholder="Tên hiển thị" name="fullName">
                                    <input data-ng-hide="!isCreateExtenal" class="btn btn-default btn-register" type="submit" value="Tạo Tài Khoản" name="commit" data-ng-click="registerExternal()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>
                                Bạn muốn
                                <a href="javascript:void(0)" data-ng-click="showRegisterForm()">Tạo tài khoản</a>
                                ?
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                            <span>Đã có tài khoản</span>
                            <a href="javascript:void(0)" data-ng-click="showLoginForm()">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add js lib-->
    <script src="~/Scripts/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/vendor/jquery_easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/vendor/owl-carousel/js/owl.carousel.js"></script>
    <script src="~/Scripts/vendor/slick/js/slick.js"></script>
    <script src="~/Scripts/vendor/isotope/js/isotope.js"></script>
    <script src="~/Scripts/vendor/isotope/js/imagesloaded.pkgd.js"></script>
    <script src="~/Scripts/vendor/range_filter/js/jquery-ui.js"></script>
    <script src="~/Scripts/vendor/Chart.js"></script>
    <script src="~/Scripts/vendor/doughnutit.js"></script>
    <script src="~/Scripts/vendor/owl.carousel.min.js"></script>
    <script src="~/Scripts/switcher.js"></script>
    <script src="~/Scripts/vendor/angular/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-ui-router.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-messages.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-ui-notification.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-local-storage.min.js"></script>
    <script src="~/Scripts/login-register.js"></script>

    <script src="~/Scripts/formValidation.min.js"></script>
    <script src="~/Scripts/framework/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datetime.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>


    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/product_custom.js"></script>
    <script src="~/Scripts/shop_custom.js"></script>
    @*<script src="~/Scripts/contact_custom.js"></script>*@
    <script src="~/Scripts/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Scripts/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Scripts/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Scripts/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Scripts/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Scripts/plugins/slick-1.8.0/slick.js"></script>
    <script src="~/Scripts/plugins/easing/easing.js"></script>
    <!-- Load app and directive -->
    <script src="~/Scripts/thegioistickerjs/app.js"></script>
    <script src="~/Scripts/directives/pagination.js"></script>
    <script src="~/Scripts/directives/numberInput.js"></script>

    <!-- Load services -->
    <script src="~/Scripts/thegioistickerjs/services/authInterceptorService.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/services/authService.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/services/ordersService.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/services/tokensManagerService.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/services/productService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/blogService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/commonService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/customerService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/faqService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/invoiceService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/sampleService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/settingService.js"></script>
    <script src="~/Scripts/thegioistickerjs/services/couponService.js"></script>

    <!-- Load controllers -->
    <script src="~/Scripts/thegioistickerjs/controllers/root.controller.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/homeController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/indexController.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/loginController.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/ordersController.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/refreshController.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/tokensManagerController.js?v=2"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/productController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/galleryController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/productDetailController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/shoppingCartController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/blogController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/blogDetailController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/faqController.js"></script>
    @*<script src="~/Scripts/thegioistickerjs/controllers/invoiceController.js"></script>*@
    <script src="~/Scripts/thegioistickerjs/controllers/companyController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/userController.js"></script>
    <script src="~/Scripts/thegioistickerjs/controllers/editorController.js"></script>
</body>
</html>
