@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div[data-toggle="collapse"] {
        cursor: pointer;
    }
</style>
<section ng-app="thegioistickerApp" ng-controller="faqController" class="organic-content">
    <div class="container">
        <div class="error">
            <img src="~/images/Error404/Error404_03.jpg" alt="Error404_03" class="img-responsive">
            <h3>Không tìm thấy.</h3>
            <p>Xin lỗi. Trang bạn tìm kiếm không tồn tại.</p>
            <a href="/"  class="button bd-radius-50 btn-setting bd-color-setting ">Về trang chủ</a>
        </div>
    </div>
</section>
