@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div[data-toggle="collapse"] {
        cursor: pointer;
    }
</style>
<section ng-app="thegioistickerApp" ng-controller="faqController" class="organic-content">
    <div class="container">
        <div class="error">
            <img src="~/images/notfound.png" alt="Error404_03" class="img-responsive">
        </div>
    </div>
</section>
