<style>
    .row {
        margin-left: unset;
    }
</style>
<div class="doc cards-doc page-layout simple full-width animated fadeInUp">
    <!-- HEADER -->
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Trang chủ</a>
        <a class="breadcrumb-item" href="/admin#/blogs-manager">Tin Tức</a>
        <span class="breadcrumb-item active">Thêm mới/Chỉnh sửa</span>
    </nav>
    <!-- / HEADER -->
    <div class="page-content row p-6 container-fluid">
        <!-- / IMAGE CAPS -->
        <div class="col-12">
            <form style="background-color:white">
                <div class="row">
                    <div class="form-group col-md-6 col-md-offset-6">
                        <img src="/images/home01/slider1.png" />
                        <label>Tiêu Đề</label>
                    </div>
                    <div class="form-group col-md-6 col-md-offset-6">
                        <input ng-model="blog.author" type="text" class="form-control md-has-value" aria-describedby="product name" />
                        <label>Tác Giả</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-md-offset-6">
                        <label for="repeatSelect">Hiển Thị Trên Trang Chủ</label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="blog.isInHomePage" class="form-control"
                                ng-options="o.v as o.n for o in [{ n: 'Không', v: false }, { n: 'Có', v: true }]"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-md-offset-6">
                        <img ng-src="{{blog.image}}" />
                        <div data-provides="fileinput" class="form-group billing-country">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span style="width:100%" class="btn btn-primary btn-file">
                                        <input type="file" my-directory="getFiles(file)" accept=".png,.jpg,.tif,.gif,.tiff,.bmp,.pdf" ng-disabled="uploading" />
                                    </span>
                                </span>
                            </div>

                            <div ng-repeat="file in data ">
                                {{file.FileName  + '  ' + file.FileLength + ' bytes'  }}<br />
                            </div>
                        </div>
                        <label>Ảnh Đại Diện</label>
                    </div>

                    <!--<input type="button" class="button btn btn-secondary" ng-click="uploadFiles()" value="Tải File" />-->
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-md-offset-6">
                        <textarea rows="5" ng-model="blog.description" type="text" class="form-control md-has-value" aria-describedby="product name" />
                        <label>Mô Tả</label>
                    </div>
                </div>
                <div class="row">
                    <div id="summernoteBlog"></div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <!--<input type="button" class="btn btn-primary" ng-click="uploadFiles()" value="Lưu" ng-disabled="uploading || countFiles===''" />-->
                <!--<button data-ng-click="saveBlog()" type="button" class="btn btn-primary">Lưu</button>-->
                <button ng-hide="!hasUpload" type="button" class="btn btn-primary" ng-click="uploadFiles()">Lưu</button>
                <button ng-hide="hasUpload" data-ng-click="saveBlog()" type="button" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
