/packages
/.vs
/Thegioisticker/obj
/Thegioisticker/bin
/Thegioisticker.Crosscutting/bin
/Thegioisticker.Crosscutting/obj
/Thegioisticker.Crosscutting.NetFramework/bin
/Thegioisticker.Crosscutting.NetFramework/obj
/Thegioisticker.Data/bin
/Thegioisticker.Data/obj
/Thegioisticker.Model/bin
/Thegioisticker.Model/obj
/Thegioisticker.Notification/bin
/Thegioisticker.Notification/obj
/Thegioisticker.Notification.Test/bin
/Thegioisticker.Notification.Test/obj
/Thegioisticker.Processor/bin
/Thegioisticker.Processor/obj
/Thegioisticker.Service/bin
/Thegioisticker.Service/obj
/Thegioisticker/Thegioisticker.csproj.user
/Thegioisticker/Content/thegioisticker.css
/Thegioisticker/Content/thegioisticker.min.css
/Thegioisticker/Content/thegioistickerAdmin.css
/Thegioisticker/Content/thegioistickerAdmin.min.css
/Thegioisticker/Scripts/thegioisticker.js
/Thegioisticker/Scripts/thegioisticker.min.js
/Thegioisticker/Scripts/thegioistickerAdmin.js
/Thegioisticker/Scripts/thegioistickerAdmin.min.js
/Thegioisticker/Uploads
/Thegioisticker/Scripts/thegioistickerApp.js
/Thegioisticker/Scripts/thegioistickerApp.min.js
/Thegioisticker.Data/bin/Debug/Thegioisticker.Data.dll
/Thegioisticker.Data/bin/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Data/bin/Debug/Thegioisticker.Model.dll
/Thegioisticker.Data/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.csprojAssemblyReference.cache
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.dll
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Model/bin/Debug/Thegioisticker.Model.dll
/Thegioisticker.Model/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.csproj.FileListAbsolute.txt
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.dll
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Data.dll
/Thegioisticker.Service/bin/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Model.dll
/Thegioisticker.Service/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Service.dll
/Thegioisticker.Service/bin/Debug/Thegioisticker.Service.pdb
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.csprojAssemblyReference.cache
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.dll
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.pdb
/Thegioisticker/bin/Thegioisticker.API.dll
/Thegioisticker/bin/Thegioisticker.API.pdb
/Thegioisticker/bin/Thegioisticker.Data.dll
/Thegioisticker/bin/Thegioisticker.Data.pdb
/Thegioisticker/bin/Thegioisticker.Model.dll
/Thegioisticker/bin/Thegioisticker.Model.pdb
/Thegioisticker/bin/Thegioisticker.Service.dll
/Thegioisticker/bin/Thegioisticker.Service.pdb
/Thegioisticker/obj/Debug/Thegioisticker.API.dll
/Thegioisticker/obj/Debug/Thegioisticker.API.pdb
/Thegioisticker/obj/Debug/Thegioisticker.csprojAssemblyReference.cache
/Thegioisticker.Data/bin/Debug/Thegioisticker.Data.dll
/Thegioisticker.Data/bin/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Data/bin/Debug/Thegioisticker.Model.dll
/Thegioisticker.Data/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.csprojAssemblyReference.cache
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.dll
/Thegioisticker.Data/obj/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Model/bin/Debug/Thegioisticker.Model.dll
/Thegioisticker.Model/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.csproj.FileListAbsolute.txt
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.dll
/Thegioisticker.Model/obj/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Data.dll
/Thegioisticker.Service/bin/Debug/Thegioisticker.Data.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Model.pdb
/Thegioisticker.Service/bin/Debug/Thegioisticker.Service.dll
/Thegioisticker.Service/bin/Debug/Thegioisticker.Service.pdb
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.csprojAssemblyReference.cache
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.dll
/Thegioisticker.Service/obj/Debug/Thegioisticker.Service.pdb
/Thegioisticker/bin/Thegioisticker.API.dll
/Thegioisticker/bin/Thegioisticker.API.pdb
/Thegioisticker/bin/Thegioisticker.Data.dll
/Thegioisticker/bin/Thegioisticker.Data.pdb
/Thegioisticker/bin/Thegioisticker.Model.dll
/Thegioisticker/bin/Thegioisticker.Model.pdb
/Thegioisticker/bin/Thegioisticker.Service.dll
/Thegioisticker/bin/Thegioisticker.Service.pdb
/Thegioisticker/obj/Debug/Thegioisticker.API.dll
/Thegioisticker/obj/Debug/Thegioisticker.API.pdb
/Thegioisticker/obj/Debug/Thegioisticker.csprojAssemblyReference.cache
