/packages
/.vs
/SieuvietWeb/obj
/SieuvietWeb/bin
/SieuvietWeb.Crosscutting/bin
/SieuvietWeb.Crosscutting/obj
/SieuvietWeb.Crosscutting.NetFramework/bin
/SieuvietWeb.Crosscutting.NetFramework/obj
/SieuvietWeb.Data/bin
/SieuvietWeb.Data/obj
/SieuvietWeb.Model/bin
/SieuvietWeb.Model/obj
/SieuvietWeb.Notification/bin
/SieuvietWeb.Notification/obj
/SieuvietWeb.Notification.Test/bin
/SieuvietWeb.Notification.Test/obj
/SieuvietWeb.Processor/bin
/SieuvietWeb.Processor/obj
/SieuvietWeb.Service/bin
/SieuvietWeb.Service/obj
/SieuvietWeb/SieuvietWeb.csproj.user
/SieuvietWeb/Content/sieuviet.css
/SieuvietWeb/Content/sieuviet.min.css
/SieuvietWeb/Content/sieuvietAdmin.css
/SieuvietWeb/Content/sieuvietAdmin.min.css
/SieuvietWeb/Scripts/sieuviet.js
/SieuvietWeb/Scripts/sieuviet.min.js
/SieuvietWeb/Scripts/sieuvietAdmin.js
/SieuvietWeb/Scripts/sieuvietAdmin.min.js
/SieuvietWeb/Uploads
/SieuvietWeb/Scripts/sieuvietApp.js
/SieuvietWeb/Scripts/sieuvietApp.min.js
