/Thegioisticker.Service/bin
/Thegioisticker.Service/obj
/Thegioisticker.Model/bin
/Thegioisticker.Model/obj
/Thegioisticker.Data/bin
/Thegioisticker.Data/obj
/Thegioisticker/bin
/Thegioisticker/obj
/Thegioisticker/Scripts/thegioisticker.js
/Thegioisticker/Scripts/thegioisticker.min.js
/Thegioisticker/Scripts/thegioistickerAdmin.js
/Thegioisticker/Scripts/thegioistickerAdmin.min.js
/Thegioisticker/Scripts/thegioistickerApp.js
/Thegioisticker/Scripts/thegioistickerApp.min.js
/Thegioisticker/Content/thegioisticker.css
/Thegioisticker/Content/thegioisticker.min.css
/Thegioisticker/Content/thegioistickerAdmin.css
/Thegioisticker/Content/thegioistickerAdmin.min.css
/.vs
/packages
/Thegioisticker/Web.config
/Thegioisticker/Web.Debug.config
/Thegioisticker/Web.Release.config
