@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadMeta
{
    <title>@ViewBag.MetaTitle</title>
    <meta name="description" content="@ViewBag.MetaDescription">
}
<section ng-app="thegioistickerApp" ng-controller="blogDetailController">
    <div class="container">
        <div>
            @Html.Raw(ViewBag.Content)
        </div>
    </div>
</section>
