@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/blog_styles.css" rel="stylesheet" />
<link href="~/Content/css/blog_responsive.css" rel="stylesheet" />
<main  ng-app="thegioistickerApp" ng-controller="blogController">
    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
        <div class="home_overlay"></div>
        <div class="home_content d-flex flex-column align-items-center justify-content-center">
            <h2 class="home_title">Thông Tin In Ấn</h2>
        </div>
    </div>
    <!-- Blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">

                        <!-- Blog post -->
                        <div ng-repeat="blog in blogs" class="blog_post">
                            <div class="blog_image" style="background-image:url({{blog.image}})"></div>
                            <div class="blog_text">{{blog.title}}</div>
                            <div class="blog_button"><a href="javascript:void(0)" data-ng-click="viewDetailBlog(blog.seoUrl)">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="shop_page_nav d-flex flex-row">
                <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
            </div>
        </div>
    </div>
</main>
