<div class="form-tax">
            <!--<h4>{{product.name}}</h4>-->
            <div class="billing-address">
                <div class="form-group">
                    <div class="billing-category">
                        <label>Kính thước *</label>
                    </div>
                    <div class="billing-select">
                        <input maxlength="4" ng-model="shoppingCart.width" number-input style="width:43%;float:left;margin-right:25px" placeholder="ngang(mm)" name="width" type="text">
                        <input maxlength="4" ng-model="shoppingCart.height" number-input style="width:43%;float:left;" placeholder="cao(mm)" name="height" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="billing-category">
                        <label>Số lượng cần in *</label>
                    </div>
                    <div class="billing-select">
                        <input maxlength="7" interger-input ng-model="shoppingCart.quantity" num-only name="quantity" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="billing-category">
                        <label>Loại decal</label>
                    </div>
                    <div class="billing-select">
                        <select ng-model="shoppingCart.material"
                                ng-options="opt as opt.label for opt in options">
                        </select>
                        <p ng-if="invoicePrintPrice>0">{{invoicePrintPrice|number}} (VND)</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="billing-category">
                        <label>Cán màng</label>
                    </div>
                    <div class="billing-select">
                        <select ng-model="shoppingCart.machining"
                                ng-options="opt as opt.label for opt in machinings">
                        </select>
                        <p ng-if="invoiceMachining>0">{{invoiceMachining|number}} (VND)</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="billing-category">
                        <label>Bế</label>
                    </div>
                    <div class="billing-select">
                        <select ng-model="shoppingCart.cut"
                                ng-options="opt as opt.label for opt in cuts">
                        </select>
                        <p ng-if="invoiceCut>0">{{invoiceCut|number}} (VND)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="billing-category">
                        <label>Thành Tiền</label>
                    </div>
                    <div class="billing-select">
                        <p>{{subTotal |number}}(VND)</p>
                    </div>
                </div>
                <div ng-if="mode==0" class="form-group billing-country">
                    <div class="billing-category">
                        <label>File In</label>
                    </div>
                    <div class="billing-select">
                        <select ng-change="onFileChange(shoppingCart.file)" ng-model="shoppingCart.file"
                                ng-options="opt as opt.label for opt in files">
                        </select>
                    </div>
                    <div ng-repeat="file in data ">
                        {{file.FileName  + '  ' + file.FileLength + ' bytes'  }}
                    </div>
                </div>

                <button data-ng-click="addToshoppingCart(1)" class="button  bd-radius-50 btn-setting bd-color-setting ">Đặt In Ngay</button>
            </div>
        </div>
