@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input-group-text {
        min-width: 150px;
    }

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 5px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }

    ul.bannerSlider {
        padding-left: 0;
    }

    .slick-slide {
        height: 300px;
    }

    .bannerSlider {
        height: 300px;
    }

        .bannerSlider .slide__image::before {
            content: "";
            position: absolute;
            width: 100%;
        }

        .bannerSlider .slick-slide {
            position: relative;
        }

        .bannerSlider .slide__image img {
            width: 100%;
            object-fit: cover;
        }

    img.slide__image__top-position {
        object-position: center bottom;
    }

    .bannerSlider .slide__text {
        position: absolute;
        z-index: 100;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

        .bannerSlider .slide__text h2 {
            font-size: 48px;
            font-weight: 100;
            color: #fff;
        }
</style>
<main ng-app="thegioistickerApp" ng-controller="homeController">
    <div class="banner_2">
        <div class="banner_2_container">
            <div class="banner_2_dots"></div>
            <!--  BANNER SLIDER  -->
            <div class="banner container">
                <div class="row fullwidth">
                    <div class="col-md-12">
                        <ul class="bannerSlider">
                            <!--  1. slide  -->
                            <li class="slide">
                                <a href="#">
                                    <div class="slide__text">
                                    </div>
                                    <div class="slide__image">
                                        <img style="height:300px" src="~/images/slider1.jpg" />
                                    </div>
                                </a>
                            </li>
                            <li class="slide">
                                <a href="#">
                                    <div class="slide__text">
                                    </div>
                                    <div class="slide__image">
                                        <img style="height:300px" src="~/images/slider2.jpg" />
                                    </div>
                                </a>
                            </li>
                            <li class="slide">
                                <a href="#">
                                    <div class="slide__text">
                                    </div>
                                    <div class="slide__image">
                                        <img style="height:300px" src="~/images/slider3.jpg" />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Characteristics -->
    <div class="characteristics">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src="images/char_1.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Báo giá online</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 char_col">
                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src="images/char_2.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Quy trình chuyên nghiệp</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 char_col">
                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src="images/char_3.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Sản phẩm chất lượng</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 char_col">
                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src="images/char_4.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Thời gian chính xác</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- invoice -->
    <div class="invoice" style="width:100%;padding-bottom:96px">
        <div class="container">
            <div style="font-size:24px;font-weight:500;color:#3587c8">Báo Giá Tem Nhãn, Sticker Online</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <form>
                                <ul class="cart_list">
                                    <li class="cart_item clearfix">
                                        <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Chất Liệu</span>
                                            </div>
                                            <select class="form-control classic" ng-model="shoppingCart.material"
                                                    ng-options="opt as opt.label for opt in materials">
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Nhập kích thước</span>
                                            </div>
                                            <input autocomplete="off" name="width" number-input maxlength="9" ng-model="shoppingCart.width" type="text" placeholder="ngang(mm)" class="form-control">
                                            <input autocomplete="off" name="height" number-input maxlength="9" ng-model="shoppingCart.height" type="text" placeholder="cao(mm)" class="form-control">
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Số Lượng</span>
                                            </div>
                                            <input autocomplete="off" name="quantity" number-input maxlength="9" ng-model="shoppingCart.quantity" type="text" placeholder="nhập số lượng cần in" class="form-control">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Chọn Gia Công</span>
                                            </div>
                                            <select class="form-control classic" ng-model="shoppingCart.machining"
                                                    ng-options="opt as opt.label for opt in machinings">
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Chọn Bế</span>
                                            </div>
                                            <select class="form-control classic" ng-model="shoppingCart.cut"
                                                    ng-options="opt as opt.label for opt in cuts">
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Upload File</span>
                                            </div>
                                            <input class="form-control classic btn  btn-info btn-sm" name="file" type="file" multiple my-directory="getFiles(file)" accept=".png,.jpg,.tif,.gif,.tiff,.bmp,.pdf" ng-disabled="uploading" />
                                        </div>
                                        
                                        <button onclick="window.location='/thu-vien-decal'" style="width:96%;margin-left:10px" class="btn  btn-success btn-sm" tabindex="3">Xem mẫu online</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Ghi Chú</span>
                                        </div>
                                        <textarea ng-model="shoppingCart.note" rows="4" placeholder="" class="form-control"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Lấy hàng sau</span>
                                        </div>
                                        <div style="margin-left:10px" class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="2" type="radio" class="form-check-input" name="optradio">2 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="3" type="radio" class="form-check-input" name="optradio">3 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="4" type="radio" class="form-check-input" name="optradio">4 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="5" type="radio" class="form-check-input" name="optradio">5 ngày
                                            </label>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Mã khuyến mãi</span>
                                        </div>
                                        <input autocomplete="off" name="coupon" ng-model="shoppingCart.couponName" type="text" placeholder="" class="form-control">
                                        <button ng-disabled="shoppingCart.couponName==''" ng-click="applyCoupon()" style="margin-right:20px;margin-left:10px" class="btn btn-primary btn-sm" disabled="disabled">Áp Dụng</button>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Thành tiền</span>
                                        </div>
                                        <div style="font-size:large" class="col-md-3 mr-auto">{{subTotalProduct | number}}(vnd)</div>
                                    </div>
                                    <button ng-click="addToshoppingCart()" style="width:96%;margin-left:10px;" class="btn  btn-success btn-sm" tabindex="1">Thêm vào giỏ hàng &nbsp</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog -->
    <div style="padding-top:unset;padding-bottom:20px" class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">
                        <div ng-repeat="category in productCategories" class="blog_post">
                            <div class="blog_image" style="background-image: url({{category.image}})"></div>
                            <div class="blog_text">{{category.name}}</div>
                            <div class="blog_button"><a ng-href="{{category.url}}">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="container">
        <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col-lg-5 offset-lg-4 fill_height">
                    <div class="banner_content">
                        <h1 class="banner_text"></h1>
                        <div class="banner_price"><span></span></div>
                        <div class="banner_product_name"></div>
                        <div class="button banner_button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="blogs.length>0" class="adverts">
        <div class="container">
            <div class="row">

                <div ng-repeat="blog in blogs" class="col-lg-4 advert_col">

                    <!-- Advert Item -->

                    <div class="advert d-flex flex-row align-items-center justify-content-start">
                        <div class="advert_content">
                            <div class="advert_title"><a ng-href="/thong-tin-chi-tiet/{{blog.seoUrl}}">{{blog.title}}</a></div>
                        </div>
                        <div class="ml-auto"><div class="advert_image"><img ng-src="{{blog.image}}" alt=""></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


