
<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-secondary"></div>
    <!-- CONTENT -->
    <div class="page-content">
        <!-- HEADER -->
        <div class="header bg-secondary text-auto row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Mã Giảm Giá</div>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">
                <div class="input-group">
                    <input id="coupons-search-input" type="text" class="form-control" placeholder="Tìm Kiếm"
                           aria-label="Search" />
                </div>
            </div>
            <!-- / SEARCH -->
            <div class="col-auto">
                <a href="javascript:void(0)" data-ng-click="createcoupon()" class="btn btn-secondary">Thêm Mới</a>
            </div>
        </div>
        <!-- / HEADER -->
        <div class="page-content-card">
            <table id="coupon-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Tên Mã</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Mã Giảm Giá</span>
                            </div>
                        </th>

                        <th>
                            <div class="table-header">
                                <span class="column-title">Loại</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Giá Trị</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Giới Hạn Sử Dụng</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Đã Sử Dụng</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Sửa</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Xóa</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        
    </div>
    <!-- / CONTENT -->
    <div id="modal-coupon" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Nội Dung</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="coupon-form">
                        <div id="validate-coupon">
                            <div class="form-group">
                                <input name="name" ng-model="coupon.name" type="text" class="form-control md-has-value" aria-describedby="Tên mã giảm giá" />
                                <label>Tên mã giảm giá</label>
                            </div>
                            <div class="form-group">
                                <input name="code" type="text" ng-model="coupon.code" class="form-control md-has-value" aria-describedby="Mã giảm giá" />
                                <label>Mã giảm giá</label>
                            </div>
                            <div class="form-group">
                                <label for="repeatSelect"> Trạng Thái </label>
                                <select name="repeatSelect" id="repeatSelect" ng-model="coupon.type" class="form-control"
                                        ng-options="o.v as o.n for o in [{ n: 'Số tiền', v: 1 }, { n: 'Phần trăm ', v: 2 }]"></select>
                            </div>
                            <div class="form-group">
                                <input name="amount" number-input ng-model="coupon.amount" type="text" class="form-control md-has-value" aria-describedby="Giá trị" />
                                <label>Giá Trị</label>
                            </div>
                            <div class="form-group">
                                <input name="limitUsed" number-input type="text" ng-model="coupon.limitUsed" class="form-control md-has-value" aria-describedby="giới hạn lần sử dụng" />
                                <label>Giới hạn lần sử dụng(nhập 0 để không giới hạn)</label>
                            </div>
                        </div>                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button data-ng-click="savecoupon()" type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>