
<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-secondary"></div>
    <!-- CONTENT -->
    <div class="page-content">
        <!-- HEADER -->
        <div class="header bg-secondary text-auto row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Khách Hàng</div>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">
                <div class="input-group">
                    <input id="customers-search-input" type="text" class="form-control" placeholder="Tìm Kiếm"
                           aria-label="Search" />
                </div>
            </div>
            <!-- / SEARCH -->
            <!--<div class="col-auto">
                <a href="javascript:void(0)" data-ng-click="createCustomer()" class="btn btn-secondary">Thêm Mới</a>
            </div>-->
        </div>
        <!-- / HEADER -->
        <div class="page-content-card">
            <table id="customer-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Họ Và Tên</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Email</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Địa Chỉ</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Số Điện Thoại</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Sửa</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Xóa</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <!-- / CONTENT -->
    <div id="modal-customerpage" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Nội Dung</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input ng-model="customer.fullName" type="text" class="form-control md-has-value" aria-describedby="product name" />
                            <label>Họ Và Tên</label>
                        </div>
                        <div class="form-group">
                            <input ng-model="customer.email" type="text" class="form-control md-has-value" aria-describedby="product name" />
                            <label>Email</label>
                        </div>
                        <div class="form-group">
                            <textarea ng-model="customer.address" class="form-control md-has-value" aria-describedby="product description" rows="5"></textarea>
                            <label>Địa Chỉ</label>
                        </div>
                        <div class="form-group">
                            <input ng-model="customer.phoneNumber" type="text" class="form-control md-has-value" aria-describedby="product name" />
                            <label>Số Điện Thoại</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button data-ng-click="saveCustomer()" type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>