@{
    ViewBag.Title = "Phương thức thanh toán – giao hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section ng-app="thegioistickerApp" ng-controller="companyController" class="organic-content">
    <div class="container">
        <div class="about-us">
            <section id="why-choose">
                <div class="container">
                    <div class="headding">
                        <h2 class="title">Phương thức thanh toán – giao hàng</h2>
                    </div>
                    <div id="thanhtoangiaohang">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>