@{
    ViewBag.Title = "Về Chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadMeta
{
    <title>@ViewBag.MetaTitle</title>
    <meta name="description" content="@ViewBag.MetaDescription">
}
<main ng-app="thegioistickerApp" ng-controller="blogDetailController">
    <div class="container">
        <div style="margin-top:50px">
            @Html.Raw(ViewBag.Content)
        </div>
    </div>
</main>


