@{
    ViewBag.Title = "Chính Sách Bảo Mật Thông Tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section ng-app="thegioistickerApp" ng-controller="companyController" class="organic-content">
    <div class="container">
        <div class="about-us">
            <section id="why-choose">
                <div class="container">
                    <div class="headding">
                        <h2 class="title">Chính Sách Bảo Mật Thông Tin</h2>
                    </div>
                    <div id="baomat">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>