@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/shop_styles.css" rel="stylesheet" />
<link href="~/Content/css/shop_responsive.css" rel="stylesheet" />
<link href="~/Content/css/contact_styles.css" rel="stylesheet" />
<link href="~/Content/css/contact_responsive.css" rel="stylesheet" />
<style>
    .input-group-text {
        min-width: 150px;
    }

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }
</style>
<main ng-app="thegioistickerApp" ng-controller="shoppingCartController" class="organic-content">
    <div class="cart_section">
        <div class="container">
            <div class="cart_title">Thông Tin Đặt Hàng</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <form action="#" id="contact_form">
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input autocomplete="off" ng-model="customer.fullName" type="text" id="contact_form_name" class="input-group" placeholder="Họ Và Tên" required="required" data-error="Vui lòng nhập tên.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input autocomplete="off" ng-model="customer.address" type="text" id="contact_form_address" class="input-group p" placeholder="Địa Chỉ" required="required" data-error="Vui lòng nhập địa chỉ.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input autocomplete="off" ng-model="customer.email" type="text" id="contact_form_email" class="input-group p" placeholder="Email" required="required" data-error="Vui lòng nhập email.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input autocomplete="off"  ng-model="customer.phoneNumber"  type="text" id="contact_form_phone" class="input-group p-10" placeholder="Số điện thoại" required="required" data-error="Vui lòng nhập số đt.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <textarea ng-model="note" id="contact_form_message" class="input-group p-10" name="message" rows="2" placeholder="Ghi chú"></textarea>
                                </div>
                                <div class="contact_form_button">
                                    <button ng-click="proccessOrder()" type="submit" class="button contact_submit_button">Đặt In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="product_content">
                                        <h5>Mã Khuyến Mãi</h5>
                                    </div>
                                    <div class="input-group">
                                        <input autocomplete="off" ng-disabled="isApplyCoupon" ng-model="coupon" type="text" placeholder="" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <button ng-disabled="coupon==''" ng-click="applyCoupon()" style="margin-right:20px;margin-left:10px" class="btn btn-primary btn-sm">Áp Dụng</button>
                                        <button ng-click="removeCoupon()" class="btn btn-secondary btn-sm">Gỡ Bỏ</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div ng-repeat="product in shoppingCart" class="row">
                                        <div class="col-md-6">{{product.name}}<br /><span>({{product.width}}mmX{{product.height}}mm)</span></div>
                                        <div class="col-md-3 ml-auto ng-binding">{{product.subTotal | number}} VND</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div class="col-md-6"> <h5>Tổng Tiền</h5></div>
                                        <div class="col-md-3 ml-auto ng-binding">{{subTotal | number}} VND</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

