@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/shop_styles.css" rel="stylesheet" />
<link href="~/Content/css/shop_responsive.css" rel="stylesheet" />
<link href="~/Content/css/contact_styles.css" rel="stylesheet" />
<link href="~/Content/css/contact_responsive.css" rel="stylesheet" />
<style>
    .input-group-text {
        min-width: 150px;
    }

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }
</style>
<main ng-app="thegioistickerApp" ng-controller="shoppingCartController" class="organic-content">
    <div class="cart_section">
        <div class="container">
            <div class="cart_title">Thông Tin Đặt Hàng</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <form action="#" id="contact_form">
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input type="text" id="contact_form_name" class="input-group" placeholder="Tên" required="required" data-error="Name is required.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input type="text" id="contact_form_email" class="input-group p" placeholder="Email" required="required" data-error="Email is required.">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <input type="text" id="contact_form_phone" class="input-group p-10" placeholder="Số điện thoại">
                                </div>
                                <div style="margin-bottom:20px" class="contact_form_text">
                                    <textarea id="contact_form_message" class="input-group p-10" name="message" rows="4" placeholder="Tin nhắn" required="required" data-error="Please, write us a message."></textarea>
                                </div>
                                <div class="contact_form_button">
                                    <button type="submit" class="button contact_submit_button">Đặt In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="product_content">
                                        <h5>Mã Khuyến Mãi</h5>
                                    </div>
                                    <div class="input-group">
                                        <input ng-model="shoppingCart.width" type="text" placeholder="" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength">
                                    </div>
                                    <div class="input-group">
                                        <button style="margin-right:20px;margin-left:10px"  class="btn btn-primary btn-sm">Áp Dụng</button>
                                        <button class="btn btn-secondary btn-sm">Gỡ Bỏ</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div class="col-md-6">Chất liệu</div>
                                        <div class="col-md-3 ml-auto ng-binding">Decal sữa</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Kích thước tem nhãn</div>
                                        <div class="col-md-3 ml-auto ng-binding">0mm X 0mm</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Số lượng in</div>
                                        <div class="col-md-3 ml-auto ng-binding">0</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Gia công</div>
                                        <div class="col-md-3 ml-auto ng-binding">Cán màng</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Bế</div>
                                        <div class="col-md-3 ml-auto ng-binding">Bế thẳng</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Thành tiền</div>
                                        <div class="col-md-3 ml-auto ng-binding">0(vnd)</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

