@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/css/cart_responsive.css" rel="stylesheet" />
    <style>
        .detail-slider img {
            margin: 0 auto;
            width: 100%;
            min-height: 120px;
        }

        .modal-body {
            min-height: 400px;
        }

        textarea {
            width: 100%;
        }

        .textwrapper {
            border: 1px solid #999999;
            margin: 5px 0;
            padding: 3px;
        }
    </style>
}
<main ng-app="thegioistickerApp" ng-controller="shoppingCartController" class="organic-content">
    <div class="cart_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_title">Shopping Cart</div>
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="images/shopping_cart.jpg" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">MacBook Air 13</div>
                                        </div>
                                        <div class="cart_item_color cart_info_col">
                                            <div class="cart_item_title">Color</div>
                                            <div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">1</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">$2000</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">$2000</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Order Total -->
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">$2000</div>
                            </div>
                        </div>

                        <div class="cart_buttons">
                            <button type="button" class="button cart_button_clear">Add to Cart</button>
                            <button type="button" class="button cart_button_checkout">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SAMPLE DETAIL PUPUP -->
    <div id="shopping-review-popup" data-backdrop="static" style="z-index:1150" class="modal fade" role="dialog">
        <div class="modal-dialog dialog-full">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mẫu File In</h5>
                    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="shopgird-detai-img">
                            <div class="detail-slider">
                                <div class="img-outline">
                                    <img style="width:60%;margin-top:50px" ng-src="{{selectedProduct.image}}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <form id='shopping-review-form'>
                            <div class="mid-product-content media-body">
                                <div class="form-tax" style="border:unset">
                                    <div id="sample-info" class="billing-address">
                                        <div ng-repeat="field in fields" class="form-group">
                                            <div class="billing-category">
                                                <label>{{field.text}}</label>
                                            </div>
                                            <div class="billing-select">
                                                <label>{{field.value}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SAMPLE DETAIL PUPUP -->
    <!-- DESIGN PUPUP -->
    <div id="design-review-popup" data-backdrop="static" class="modal fade" role="dialog">
        <div class="modal-dialog dialog-full">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title">Modal title</h5>*@
                    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding: 20px;" class="modal-body">
                    <div>
                        <div class="shopgird-detai-img">
                            <div class="detail-slider">
                                <div class="img-outline">
                                    <img style="max-height:400px" src="~/images/design.jpg" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <form id='design-review-form'>
                            <div class="mid-product-content media-body">
                                <h3>Thiết Kế Theo Yêu Cầu </h3>
                                <div class="product-price-one price-mid">
                                    <span style="color:blue;font-size:20px" class="color-setting">100,000 VND</span>
                                </div>
                                <p>THÔNG SỐ CƠ BẢN.</p>
                                <div class="service">
                                    <p><i class="fa fa-check color-setting" aria-hidden="true"></i>Thiết kế mới độc quyền</p>
                                    <p><i class="fa fa-check color-setting" aria-hidden="true"></i>Tư liệu khách hàng cung cấp</p>
                                    <p><i class="fa fa-check color-setting" aria-hidden="true"></i>Số lần chỉnh sửa: 2 lần</p>
                                    <p><i class="fa fa-check color-setting" aria-hidden="true"></i>Thời gian thiết kế: 4 giờ</p>
                                </div>
                                <h3>Thông Tin Thiết Kế.</h3>
                                <div class="form-tax" style="border:unset">
                                    <textarea disabled="disabled" ng-model="selectedProduct.fileDescription" name="fileDescription" rows="4" cols="100"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End DESIGN PUPUP -->
    <!-- UPLOAD PUPUP -->
    <div id="upload-review-popup" data-backdrop="static" class="modal fade" role="dialog">
        <div class="modal-dialog dialog-full">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title">Modal title</h5>*@
                    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding: 20px;" class="modal-body">
                    <div>
                        <div class="shopgird-detai-img">
                            <div class="detail-slider">
                                <div class="img-outline">
                                    <img src="~/images/upanh.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <form id='upload-review-form'>
                            <div class="mid-product-content media-body">
                                <h3>file in </h3>
                                <div data-provides="fileinput" class="form-group billing-country">
                                    <div ng-repeat="url in selectedProduct.imageUrls ">
                                        <a href="{{url}}">{{url}}</a>
                                        <br />
                                    </div>
                                </div>
                                <h3>Ghi chú.</h3>
                                <div class="form-tax" style="border:unset">
                                    <textarea disabled="disabled" ng-model="selectedProduct.fileDescription" name="fileDescription" rows="4" cols="100"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End UPLOAD PUPUP -->
</main>
