@{
    ViewBag.Title = "Hoàn Tất Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section ng-app="thegioistickerApp" ng-controller="companyController" class="organic-content">
        <div class="jumbotron text-center">
            <h1 class="display-5">Đơn Hàng Đã Được Tạo Thành Công!</h1>
            <p class="lead"><strong>Mã đơn hàng của @Model.customerName là<span style="color:red"> @Model.orderId </span>. Vui lòng cung cấp tên và mã đơn hàng vào nội dung khi thanh toán chuyển khoản.</strong></p>
            <hr>
            <p>
                Nếu có thắc mắc về đơn hàng vui lòng <a href="/lien-he">liên hệ với chúng tôi</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Về trang chủ</a>
            </p>
        </div>
    </section>
