@{
    ViewBag.Title = "Thư Viện Ảnh Decal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }
    .input-group-text {
        min-width: 120px !important;
    }
</style>
<main ng-app="sieuvietApp" ng-controller="galleryController">
    <!-- Shop -->
    <div class="shop">
        <div class="container-fluid">
            <div class="row">
                <div style="margin-top:-10px" class="col-lg-3">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">

                                    <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    </div>
                                    <h5>Mẫu được chọn</h5>
                                    <div style="height:unset !important" class="product_image d-flex flex-column align-items-center justify-content-center"><img ng-src="{{selectedSample.image}}" alt=""></div>
                                    <div class="product_content">
                                        <div style="margin-left:10px" class="product_name"><div>{{selectedSample.name}}</div></div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chất Liệu</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.material"
                                                ng-options="opt as opt.label for opt in materials">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Kích thước</span>
                                        </div>
                                        <input autocomplete="off" name="width" number-input maxlength="9" ng-model="shoppingCart.width" type="text" placeholder="ngang(mm)" class="form-control">
                                        <input autocomplete="off" name="height" number-input maxlength="9" ng-model="shoppingCart.height" type="text" placeholder="cao(mm)" class="form-control">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Số Lượng</span>
                                        </div>
                                        <input autocomplete="off" name="quantity" number-input maxlength="9" ng-model="shoppingCart.quantity" type="text" placeholder="nhập số lượng cần in" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Gia Công</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.machining"
                                                ng-options="opt as opt.label for opt in machinings">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Bế</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.cut"
                                                ng-options="opt as opt.label for opt in cuts">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Ghi Chú</span>
                                        </div>
                                        <textarea ng-model="shoppingCart.note" rows="3" placeholder="" class="form-control"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Lấy hàng sau</span>
                                        </div>
                                        <div style="margin-left:10px" class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="2" type="radio" class="form-check-input" name="optradio">2 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="3" type="radio" class="form-check-input" name="optradio">3 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="4" type="radio" class="form-check-input" name="optradio">4 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="5" type="radio" class="form-check-input" name="optradio">5 ngày
                                            </label>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Khuyến mãi</span>
                                        </div>
                                        <input autocomplete="off" name="coupon" ng-model="shoppingCart.couponName" type="text" placeholder="" class="form-control">
                                        <button ng-disabled="shoppingCart.couponName==''" ng-click="applyCoupon()" style="margin-right:20px;margin-left:10px" class="btn btn-primary btn-sm" disabled="disabled">Áp Dụng</button>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Thành tiền</span>
                                        </div>
                                        <div style="font-size:large" class="col-md-3 mr-auto">{{subTotalProduct | number}}(vnd)</div>
                                    </div>
                                    <button ng-click="addToshoppingCart()" style="margin-left:10px;width:95%" class="btn  btn-success btn-sm" tabindex="1">Thêm vào giỏ hàng &nbsp</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div ng-repeat="product in products" class="col-12 col-md-6 col-lg-3">
                            <div class="card">
                                <img class="card-img-top" ng-src="{{product.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="javascript:void(0)">{{product.name}}</a></h4>
                                    <div class="row">
                                        <div class="col">
                                            <button ng-click="selectSample(product)" class="btn btn-success btn-block">Dùng mẫu này</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Page Navigation -->
                    <div class="shop_page_nav d-flex flex-row">
                        <div class="shop-bottom">
                            <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>