@{
    ViewBag.Title = "Thư Viện Ảnh Decal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/shop_styles.css" rel="stylesheet" />
<link href="~/Content/css/shop_responsive.css" rel="stylesheet" />
<link href="~/Content/css/blog_responsive.css" rel="stylesheet" />
<style>
    .input-group-text {
        min-width: 150px;
    }

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }
</style>
<main ng-app="sieuvietApp" ng-controller="galleryController">
    <!-- Home -->
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
        <div class="home_overlay"></div>
        <div class="home_content d-flex flex-column align-items-center justify-content-center">
            <h2 class="home_title">Thư Viện Online</h2>
        </div>
    </div>
    <!-- Shop -->
    <div class="shop">
        <div class="container-fluid">
            <div class="row">
                <div style="margin-top:-10px" class="col-lg-3">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <h5>Sản phẩm được chọn</h5>
                                    <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/noproduct.png" alt=""></div>
                                    <div class="product_content">
                                        <div style="margin-left:10px" class="product_name"><div>Canon IXUS 175...</div></div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chất Liệu</span>
                                        </div>
                                        <select ng-change="materialChange()" class="form-control classic ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="shoppingCart.material" ng-options="opt as opt.label for opt in options"><option label="Decal sữa" value="object:6" selected="selected">Decal sữa</option><option label="Decal trong" value="object:7">Decal trong</option><option label="Decal giấy" value="object:8">Decal giấy</option><option label="Decal Kraft" value="object:9">Decal Kraft</option><option label="Decal xi bạc" value="object:10">Decal xi bạc</option><option label="Decal 7 màu" value="object:11">Decal 7 màu</option><option label="Tem bảo hành, tem vỡ,tem bế" value="object:12">Tem bảo hành, tem vỡ,tem bế</option><option label="Decal sữa cao cấp" value="object:13">Decal sữa cao cấp</option></select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Nhập kích thước</span>
                                        </div>
                                        <input num-only="" maxlength="9" ng-model="shoppingCart.width" type="text" placeholder="ngang(mm)" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength">
                                        <input num-only="" maxlength="9" ng-model="shoppingCart.height" type="text" placeholder="cao(mm)" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Số Lượng</span>
                                        </div>
                                        <input num-only="" maxlength="9" ng-model="shoppingCart.quantity" type="text" placeholder="nhập số lượng cần in" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Gia Công</span>
                                        </div>
                                        <select class="form-control classic ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="shoppingCart.machining" ng-options="opt as opt.label for opt in options1"><option label="Cán màng" value="object:14" selected="selected">Cán màng</option><option label="Không cán màng" value="object:15">Không cán màng</option></select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Bế</span>
                                        </div>
                                        <select class="form-control classic ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="shoppingCart.cut" ng-options="opt as opt.label for opt in options2"><option label="Bế thẳng" value="object:16" selected="selected">Bế thẳng</option><option label="Bế đặc biệt(hình tròn, hình khó)" value="object:17">Bế đặc biệt(hình tròn, hình khó)</option></select>
                                    </div>
                                    <button style="margin-left:10px" class="btn  btn-success btn-sm" tabindex="1">Tiến hành đặt hàng &nbsp</button>
                                    <button style="width:200px" class="btn  btn-primary btn-sm" tabindex="4">Làm mới</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div class="col-md-6">Chất liệu</div>
                                        <div class="col-md-3 ml-auto ng-binding">Decal sữa</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Kích thước tem nhãn</div>
                                        <div class="col-md-3 ml-auto ng-binding">0mm X 0mm</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Số lượng in</div>
                                        <div class="col-md-3 ml-auto ng-binding">0</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Gia công</div>
                                        <div class="col-md-3 ml-auto ng-binding">Cán màng</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Bế</div>
                                        <div class="col-md-3 ml-auto ng-binding">Bế thẳng</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Thành tiền</div>
                                        <div class="col-md-3 ml-auto ng-binding">0(vnd)</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div ng-repeat="product in products" class="col-12 col-md-6 col-lg-3">
                            <div class="card">
                                <img class="card-img-top" ng-src="{{product.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="/chi-tiet-san-pham/{{product.seoUrl}}" title="View Product">{{product.name}}</a></h4>
                                    <div class="row">
                                        <div class="col">
                                            <a href="/chi-tiet-san-pham/{{product.seoUrl}}" class="btn btn-success btn-block">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Page Navigation -->
                    <div class="shop_page_nav d-flex flex-row">
                        <div class="shop-bottom">
                            <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>