@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadMeta
{
    <title>@ViewBag.MetaTitle</title>
    <meta name="description" content="@ViewBag.MetaDescription">
}
<style>
    .input-group-text {
        min-width: 150px;
    }

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 5px;
    }
</style>
<main ng-app="sieuvietApp" ng-controller="productDetailController">
    <!-- Single Product -->

    <div style="padding-bottom:50px !important;padding-top:50px !important" class="single_product">
        <div class="container">
            <div style="font-size:24px;font-weight:500;color:#3587c8">{{product.name}}</div>
            <div class="row">

                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li ng-repeat="product in products" data-image="{{product.image}}"><img ng-src="{{product.image}}" alt=""></li>
                    </ul>
                </div>

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img ng-src="{{products[0].image}}" alt=""></div>
                </div>

                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div style="margin-top:-10px" class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div style="text-align:center" class="col-md-12"><h3>KHUYẾN MÃI</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Giảm 5% khi đặt hàng từ 3 - 5 ngày.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Khuyến mãi tem 5 cm đồng giá 225.000 vnđ.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Khuyến mãi tem 3cm đồng giá 150.000 vnđ.</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li style="height:382px" class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div style="text-align:center" class="col-md-12"><h3>CÁC DỊCH VỤ KHUYẾN MÃI KHÁC CHỈ CÓ TẠI TGSK</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Miễn phí kho mẫu thiết kế với số lượng in trên 1.000 tem.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Miễn phí giao hàng với đơn hàng tr6n 499.000 vnd trong Q.Tân Bình.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Miễn phí 1 hộp namecard với đơn hàng trên 1.000.000 vnđ.</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- invoice -->
    <div class="invoice" style="width:100%;">
        <div class="container">
            <div style="font-size:24px;font-weight:500;color:#3587c8">Tiến Hành Đặt Hàng Online</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chất Liệu</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.material"
                                                ng-options="opt as opt.label for opt in materials">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Nhập kích thước</span>
                                        </div>
                                        <input autocomplete="off" name="width" number-input maxlength="9" ng-model="shoppingCart.width" type="text" placeholder="ngang(mm)" class="form-control">
                                        <input autocomplete="off" name="height" number-input maxlength="9" ng-model="shoppingCart.height" type="text" placeholder="cao(mm)" class="form-control">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Số Lượng</span>
                                        </div>
                                        <input autocomplete="off" name="quantity" number-input maxlength="9" ng-model="shoppingCart.quantity" type="text" placeholder="nhập số lượng cần in" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Gia Công</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.machining"
                                                ng-options="opt as opt.label for opt in machinings">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Bế</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.cut"
                                                ng-options="opt as opt.label for opt in cuts">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Upload File</span>
                                        </div>
                                        <input class="form-control classic btn  btn-info btn-sm" name="file" type="file" multiple my-directory="getFiles(file)" accept=".png,.jpg,.tif,.gif,.tiff,.bmp,.pdf" ng-disabled="uploading" />
                                    </div>
                                    <button onclick="window.location='/thu-vien-decal'" style="width:96%;margin-left:10px" class="btn  btn-primary btn-sm" tabindex="3">Xem mẫu online</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Ghi Chú</span>
                                        </div>
                                        <textarea ng-model="shoppingCart.note" rows="2" placeholder="" class="form-control"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Lấy hàng sau</span>
                                        </div>
                                        <div style="margin-left:10px" class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="2" type="radio" class="form-check-input" name="optradio">2 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="3" type="radio" class="form-check-input" name="optradio">3 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="4" type="radio" class="form-check-input" name="optradio">4 ngày
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input ng-model="shoppingCart.deliveryDate" value="5" type="radio" class="form-check-input" name="optradio">5 ngày
                                            </label>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Mã khuyến mãi</span>
                                        </div>
                                        <input autocomplete="off" name="coupon" ng-model="shoppingCart.couponName" type="text" placeholder="" class="form-control">
                                        <button ng-disabled="shoppingCart.couponName==''" ng-click="applyCoupon()" style="margin-right:20px;margin-left:10px" class="btn btn-primary btn-sm" disabled="disabled">Áp Dụng</button>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Thành tiền</span>
                                        </div>
                                        <div style="font-size:large" class="col-md-3 mr-auto">{{subTotalProduct | number}}(vnd)</div>
                                    </div>
                                    <button ng-click="addToshoppingCart()" style="width:96%;margin-left:10px" class="btn  btn-success btn-sm" tabindex="1">Thêm vào giỏ hàng &nbsp</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:100px" class="single_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    @Html.Raw(ViewBag.description)
                </div>
            </div>
        </div>
    </div>
</main>
<!--content -->
