@{
    ViewBag.Title = "Thư Viện Ảnh Decal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/shop_styles.css" rel="stylesheet" />
<link href="~/Content/css/shop_responsive.css" rel="stylesheet" />
<style>
    

    .row {
        margin-bottom: 0px;
    }

    .form-control {
        margin-left: 10px;
    }

    .cart_items {
        margin-top: 10px !important;
    }

    .input-group {
        padding: 10px;
    }
</style>
<main ng-app="sieuvietApp" ng-controller="galleryController">
    <!-- Home -->
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
        <div class="home_overlay"></div>
        <div class="home_content d-flex flex-column align-items-center justify-content-center">
            <h2 class="home_title">Thư Viện Online</h2>
        </div>
    </div>
    <!-- Shop -->
    <div class="shop">
        <div class="container-fluid">
            <div class="row">
                <div style="margin-top:-10px" class="col-lg-3">
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">

                                    <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    </div>
                                    <h5>Sản phẩm được chọn</h5>
                                    <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/noproduct.png" alt=""></div>
                                    <div class="product_content">
                                        <div style="margin-left:10px" class="product_name"><div>Canon IXUS 175...</div></div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chất Liệu</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.material"
                                                ng-options="opt as opt.label for opt in materials">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Kích thước</span>
                                        </div>
                                        <input autocomplete="off" name="width" number-input maxlength="9" ng-model="shoppingCart.width" type="text" placeholder="ngang(mm)" class="form-control">
                                        <input autocomplete="off" name="height" number-input maxlength="9" ng-model="shoppingCart.height" type="text" placeholder="cao(mm)" class="form-control">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Số Lượng</span>
                                        </div>
                                        <input autocomplete="off" name="quantity" number-input maxlength="9" ng-model="shoppingCart.quantity" type="text" placeholder="nhập số lượng cần in" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Gia Công</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.machining"
                                                ng-options="opt as opt.label for opt in machinings">
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Chọn Bế</span>
                                        </div>
                                        <select class="form-control classic" ng-model="shoppingCart.cut"
                                                ng-options="opt as opt.label for opt in cuts">
                                        </select>
                                    </div>
                                    <button ng-click="addToshoppingCart()" style="margin-left:10px" class="btn  btn-success btn-sm" tabindex="1">Thêm vào giỏ hàng &nbsp</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_container">
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix  font-italic">
                                    <div class="row">
                                        <div class="col-md-6">Chất liệu</div>
                                        <div class="col-md-3 ml-auto">{{shoppingCart.material.label}}</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Kích thước tem nhãn</div>
                                        <div class="col-md-3 ml-auto">{{shoppingCart.width==''?0:shoppingCart.width}}mm X {{shoppingCart.height==''?0:shoppingCart.height}}mm</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Số lượng in</div>
                                        <div class="col-md-3 ml-auto">{{shoppingCart.quantity==''?0:shoppingCart.quantity}}</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Diện tích bằng mét vuông.</div>
                                        <div class="col-md-3 ml-auto">{{square}}(m2)</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Gia công</div>
                                        <div class="col-md-3 ml-auto">{{shoppingCart.machining.label}}</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Bế</div>
                                        <div class="col-md-3 ml-auto">{{shoppingCart.cut.label}}</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Đơn giá</div>
                                        <div class="col-md-3 ml-auto">{{price | number}}(vnd)</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">Thành tiền</div>
                                        <div class="col-md-3 ml-auto">{{subTotalProduct | number}}(vnd)</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div ng-repeat="product in products" class="col-12 col-md-6 col-lg-3">
                            <div class="card">
                                <img class="card-img-top" ng-src="{{product.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="javascript:void(0)">{{product.name}}</a></h4>
                                    <div class="row">
                                        <div class="col">
                                            <button ng-click="selectSample(product)" class="btn btn-success btn-block">Dùng mẫu này</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Page Navigation -->
                    <div class="shop_page_nav d-flex flex-row">
                        <div class="shop-bottom">
                            <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>