<div id="login" class="p-8">
    <div class="form-wrapper md-elevation-8 p-8">
        <div class="title mt-4 mb-8">Đăng Nhập Tài Khoản</div>
        <form name="loginForm" novalidate>
            <div class="form-group mb-4">
                <input data-ng-model="loginData.userName" type="text" class="form-control" id="loginFormInputEmail" aria-describedby="emailHelp"
                       placeholder="" />
                <label for="loginFormInputEmail">Tên Đăng Nhập</label>
            </div>
            <div class="form-group mb-4">
                <input data-ng-model="loginData.password" type="password" class="form-control" id="loginFormInputPassword" placeholder="Password" />
                <label for="loginFormInputPassword">Mật Khẩu</label>
            </div>
            <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">
                <!--<div class="form-check remember-me mb-4">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                        <span class="checkbox-icon"></span>
                        <span class="form-check-description">Remember Me</span>
                    </label>
                </div>-->
                <a href="#" class="forgot-password text-secondary mb-4">Quên Mật Khẩu?</a>
            </div>
            <div ng-if="waringMessage" class="preview">
                <div class="preview-elements">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>-->
                        <strong>{{waringMessage}}</strong>
                    </div>
                </div>
            </div>
            <button data-ng-click="login()" type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                Đăng nhập
            </button>
        </form>
        <div class="separator">
            <span class="text">Hoặc</span>
        </div>
        <button type="submit" class="google btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
            <span>
                <i class="icon-google-plus s-4"></i>
                <span>Google</span>
            </span>
        </button>
        <button type="submit" class="facebook btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
            <span>
                <i class="icon-facebook s-4"></i>
                <span>Facebook</span>
            </span>
        </button>
        <div class="register d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
            <span class="text mr-sm-2">Chưa có tài khoản?</span>
            <a class="link text-secondary" href="javascript:void(0)">Tạo tài khoản</a>
        </div>
    </div>
</div>