
<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-secondary"></div>
    <!-- CONTENT -->
    <div class="page-content">
        <!-- HEADER -->
        <div class="header bg-secondary text-auto row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Chi Phí In-Bế-Gia Công</div>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">
                <div class="input-group">
                    <input id="products-search-input" type="text" class="form-control" placeholder="Tìm Kiếm"
                           aria-label="Search" />
                </div>
            </div>
            <!-- / SEARCH -->
            <!--<div class="col-auto">
                <a href="javascript:void(0)" data-ng-click="createProduct()" class="btn btn-secondary">Thêm Mới Sản Phẩm</a>
            </div>-->
        </div>
        <!-- / HEADER -->
        <div class="page-content-card">
            <table id="cost-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Mô Tả</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Số Tờ A4</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Giá In</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Giá Bế</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Giá Cán Màng</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Sửa</span>
                            </div>
                        </th>
                        <!--<th>
                            <div class="table-header">
                                <span class="column-title">Xóa</span>
                            </div>
                        </th>-->
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- / CONTENT -->
    <div id="modal-cost" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Nội Dung</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id='cost-form'>
                        <div id="validate-cost">
                            <div class="form-group">
                                <input name="description" ng-model="product.description" type="text" class="form-control" aria-describedby="mô tả" />
                                <label>Mô Tả</label>
                            </div>
                            <div class="form-group">
                                <input name="quantity" number-input ng-disabled="true" ng-model="product.quantity" type="text" class="form-control" aria-describedby="số lượng" />
                                <label>Số Lượng</label>
                            </div>
                            <div class="form-group">
                                <input name="printPrice" number-input ng-model="product.printPrice" type="text" class="form-control" aria-describedby="giá in" />
                                <label>Giá In</label>
                            </div>
                            <div class="form-group">
                                <input name="cutPrice" number-input ng-model="product.cutPrice" type="text" class="form-control" aria-describedby="giá bế" />
                                <label>Giá Bế</label>
                            </div>
                            <div class="form-group">
                                <input name="machiningPrice" number-input ng-model="product.machiningPrice" type="text" class="form-control" aria-describedby="giá cán màng" />
                                <label>Giá Cán Màng</label>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button data-ng-click="saveProduct()" type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>