@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Thegioisticker.Web.Controllers.ResetPasswordModel

<section ng-app="thegioistickerApp" ng-controller="userController" class="organic-content">
    <div class="container">
        <div class="contact-02">
            <div class="row contact-02-gird">
                <h3 ng-hide="!isChangeSuccess">Đã Đổi mật khẩu thành công</h3>
                <form ng-hide="isChangeSuccess" id='f11'>
                    <div class="col-md-12 contact-half">
                        <h3>Đổi Mật Khẩu</h3>
                        <div id='f11-step1' class="address-half">
                            <div class="address-inside1">
                                <input ng-model="resetPassWordModel.password" type="password" class="address-border1 bd-radius-5" name="newPassword" placeholder="Mật Khẩu Mới*">
                            </div>
                            <div class="address-inside1">
                                <input ng-model="resetPassWordModel.passwordConfirmation" type="password" class="address-border1 bd-radius-5" name="ConfirmNewPassword" placeholder="Xác Nhận Mật Khẩu Mới*">
                            </div>
                        </div>
                        <div class="send-messages1">
                            <button ng-click="createNewPassword()" class="button bd-radius-50 btn-setting bd-color-setting ">Đổi Mật Khẩu</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<script>
</script>
