<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-secondary"></div>
    <!-- CONTENT -->
    <div class="page-content">
        <!-- HEADER -->
        <div class="header bg-secondary text-auto row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Chỉnh sửa mô tả sản phẩm</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->
        <div class="page-content-card">
            <div class="page-content row p-6 container-fluid">
                <!-- / IMAGE CAPS -->
                <div class="col-12">
                    <form style="background-color:white">
                        <div class="row">
                            <div id="summernoteProduct"></div>
                        </div>
                        <button data-ng-click="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button data-ng-click="saveProductDescription()" type="button" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->
</div>
