
<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-secondary"></div>
    <!-- CONTENT -->
    <div class="page-content">
        <!-- HEADER -->
        <div class="header bg-secondary text-auto row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Chọn mẫu sản phẩm cho :{{product.name}}</div>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">
                <div class="input-group">
                    <input id="products-search-input" type="text" class="form-control" placeholder="Tìm Kiếm"
                           aria-label="Search" />
                </div>
            </div>
            <!-- / SEARCH -->
            <!--<div class="col-auto">
                <a href="javascript:void(0)" data-ng-click="createProduct()" class="btn btn-secondary">Thêm Mới Sản Phẩm</a>
            </div>-->
        </div>
        <!-- / HEADER -->
        <div class="page-content-card">
            <table id="sample-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Hình</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Tên Sản Phẩm</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Mô Tả</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Hoạt Động</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <div style=" position: fixed; bottom: 20px; right: 50px;">
                <button data-ng-click="back()" type="button" class="btn btn-primary">Quay Lại</button>
                <button data-ng-click="saveProductSample()" type="button" class="btn btn-primary">Lưu</button>
            </div>
            
        </div>
    </div>
    <!-- / CONTENT -->
    
</div>